@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

main {
  background: linear-gradient(180deg, #208f85 0%, #1f454a 43.23%, #14332d 100%);
}

.head-main-container {
  float: left;
  position: relative;
  padding: 0px;
}
.head-btn button {
  width: 181px;
  height: 56px;
  left: 939px;
  top: 93px;
  background: #264651;
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.85);
}

.header-content {
}

.header-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-img {
  position: relative;
  width: 100%;
}

.head-con-row {
  position: absolute;
  top: 40%;
}

.head-icon {
  background: #264651;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px 10px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content h1 {
  font-weight: bold;
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.header-content p {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}

.header-content button {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  width: 318px;
  height: 56px;
  background: #a94e3c;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.85);
}

.home-head-btn {
  background: #264651;
  border-radius: 10px;
  width: 210px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-head-btn h2 {
  font-weight: 900;
  font-size: 26px;
  line-height: 37px;
  /* identical to box height */

  text-transform: uppercase;

  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home-h2 {
  font-weight: 900;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hm-game h2 {
  font-size: 50px;
  text-align: center;
}

.heading-home {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hm-game button {
  width: 295px;
  height: 56px;
  left: 573px;
  top: 1961px;
  background: #264651;
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
}

.feature-img-div {
  width: 375px;
  height: 232px;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
}

.feature-main h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.feature-main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.roadmap-col {
  width: 330px;
  height: 459px;
  background: #639593;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 30px;
}

.road-inner {
  width: 266px;
  height: 218px;
  left: 47px;
  top: 2857px;

  background: #c4c4c4;
  border-radius: 20px;
}

.road-map-content {
  width: 330px;
  padding: 15px 35px;
}

.road-map-content h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.road-map-content li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.teams-main h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-content h2 {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.teams-content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-right-div {
  margin-left: 50px;
}

.teams-left-div {
  margin-right: 30px;
}

.main-footer {
  background: #1a5a57;
}

.footer-icon-div {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px 10px;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.main-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.hash-main p {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}
