@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

main {
  background: linear-gradient(180deg, #208f85 0%, #1f454a 43.23%, #14332d 100%);
}

.head-main-container {
  float: left;
  position: relative;
  padding: 0px;
}
.button-div-head {
  top: -90px;
  position: relative;
  height: 90px;
}
.head-btn button {
  width: 181px;
  height: 56px;
  left: 939px;
  top: 93px;
  background: #264651;
  border-radius: 8px;
  border: 0px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.85);
}
.header-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-img {
  position: relative;
  width: 100%;
}

.head-con-row {
  position: absolute;
  top: 36%;
}

.head-icon {
  background: #264651;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px 10px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content h1 {
  font-weight: bold;
  font-size: 3vw;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.header-content p {
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}

.header-content button {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  width: 318px;
  height: 56px;
  background: #a94e3c;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.85);
  border: 0px;
}

.home-head-btn {
  background: #264651;
  border-radius: 10px;
  width: 15vw;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.home-head-btn:hover {
  background-color: rgb(238, 131, 90);
  color: rgb(38, 70, 81);
  text-decoration: none;
  /* transition: 0.1s all ease;
  -webkit-transition: 0.3s all ease; */
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.home-head-btn:hover h2 {
  font-weight: 900;
  font-size: 1.5vw;
  line-height: 37px;
  /* identical to box height */

  text-transform: uppercase;
  -webkit-text-stroke: 0px rgb(38, 70, 81) !important;
  background: linear-gradient(180deg, rgb(38, 70, 81) 0%, rgb(38, 70, 81) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.border-select {
  border: 5px solid #ee835a !important;
}

.home-head-btn h2 {
  font-weight: 900;
  font-size: 1.5vw;
  line-height: 37px;
  /* identical to box height */

  text-transform: uppercase;
  -webkit-text-stroke: 1px rgb(169, 78, 60);
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home-h2 {
  font-weight: 900;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hm-game h2 {
  font-size: 50px;
  text-align: center;
}

.heading-home {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: transparent;
  -webkit-text-stroke: 2px rgb(169, 78, 60);
}

.hm-game button {
  width: 295px;
  height: 56px;
  left: 573px;
  top: 1961px;
  background: #264651;
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  border: 0px;
}

.feature-img-div {
  width: 375px;
  height: 232px;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 20px;
}

.feature-main h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.feature-main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.roadmap-col {
  width: 330px;
  height: 459px;
  background: #639593;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 30px;
}

.road-inner {
  width: 266px;
  height: 218px;
  left: 47px;
  top: 2857px;

  background: #c4c4c4;
  border-radius: 20px;
}

.road-map-content {
  width: 330px;
  padding: 15px 35px;
}

.road-map-content h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.road-map-content li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.85);
}

.teams-main h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-content h2 {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.teams-content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.teams-right-div {
  margin-left: 50px;
}

.teams-left-div {
  margin-right: 30px;
}

.main-footer {
  background: #1a5a57;
}

.footer-icon-div {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px 10px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.main-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.hash-main p {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}

.token-main {
  background: #327875;
  width: 100%;
  margin-top: 100px;
  /* position: relative;
  margin-left: -50vw;
  left: 50%; */
}

.token-main p {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;

  color: #ffffff;
}
.token-main h3 {
  text-align: start !important;
}

.token-main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height */

  color: #ffffff;
}

.team-bar-div {
  border-right: 1px solid white;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #289e90;
  /* animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; */
  padding-top: 0px;
  padding-bottom: 0px;
  transition: 0.1s all ease;
  -webkit-transition: 0.3s all ease;
  margin: 0px;
}

/* .is-sticky .home-head-btn {
  width: 140px;
  height: 85px;
}

.is-sticky .home-head-btn h2 {
  font-weight: 900;
  font-size: 16px;
} */

.head-mob-cn-main {
  background-color: rgba(40, 158, 144, 1);
}

.head-mob-cn-main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-align: center;
}

.head-mob-cn-main h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.head-mob-cn-main button {
  background: #a94e3c;
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  width: 318px;
  height: 56px;
  color: rgba(255, 255, 255, 0.85);
}

.text-li-center li {
  text-align: center;
}

.nav-head-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mob-nav-btn {
  background: #70ceea;
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
.mob-nav-btn button {
  width: 156px;
  height: 44px;
  left: 189px;
  top: 16px;
  background: #264651;
  border-radius: 8px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.85);
}

.head-mob-btn {
  width: 171px;
  height: 55px;
  background: #264651;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-mob-btn h3 {
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f8ad73 0%, #ea7351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.meta-mask-app {
  width: 35vw;
  height: 501px;
  background: #628284;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 100px 0px;
}

.meta-mask-app img {
  width: 31vw;
  height: 38vh;
}
.meta-mask-app p {
  margin: 20px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}

.meta-right-lines {
  display: flex;
  margin: 120px 0px 20px 0px;
}

.meta-mask-vaullet {
  width: 35vw;
  height: 551px;
  background: #628284;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.meta-mask-vaullet img {
  width: 31vw;
  height: 38vh;
}

.meta-mask-vaullet button {
  width: 21vw;
  height: 56px;
  left: 912px;
  top: 5213px;
  background: #ee835a;
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  border: 0px;
}
.meta-mask-vaullet p {
  margin: 20px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.85);
}
